<!-- <div class="container border" style="margin-top:20px;display: none">
  <div class="row ">
    <div class="col-8 justify-content-left">
      <app-video-frame [isMainFrame]="true" [videoSrcObject]="mainStream" [name]="mainStreamName" [isMuted]="true"  ></app-video-frame>
      <app-controls></app-controls>
    </div>

    <div class="col-2 justify-content-left" >
      <div class="list-group h-80 d-inline-block" style="overflow: scroll;overflow: hidden">





        <app-video-frame *ngFor="let key of keys(streams)" [videoSrcObject]="streams[key]" [name]="names[key]" [isMuted]="key==='self'" (onClicked)="changeMainStream($event)" ></app-video-frame>

      </div>
    </div>


  </div>


</div> -->

<main>
  <app-video-frame class="main-frame" [isMainFrame]="true" [videoSrcObject]="mainStream" [name]="mainStreamName" [isMuted]="true"  ></app-video-frame>
  <app-controls class="controls"></app-controls>
  <div class="frames">
    <app-video-frame  *ngFor="let key of keys(streams)" [videoSrcObject]="streams[key]" [name]="names[key]" [isMuted]="key==='self'" (onClicked)="changeMainStream($event)" ></app-video-frame>
  </div>
  <div class="info">
    <app-meeting-info></app-meeting-info>
  </div>

</main>
