<div class="container" style="margin-top:20px;">
  <div class="row ">
    <div class="col-6 justify-content-right">
      <app-video-frame></app-video-frame>
      <app-controls></app-controls>
    </div>

    <div class="col-3 justify-content-center" >
      <div class="list-group h-50 d-inline-block" style="overflow: scroll;overflow-x: hidden">
          <button type="button" class="list-group-item list-group-item-action active" style="font-size:20px;text-align: center;margin-bottom: 5px;">
            Users
          </button>

        <app-video-frame></app-video-frame>
        <app-video-frame></app-video-frame>
        <app-video-frame></app-video-frame>
        <app-video-frame></app-video-frame>
        <app-video-frame></app-video-frame>
        <app-video-frame></app-video-frame>
      </div>
    </div>


  </div>


</div>




