<div class="container-fluid">

  <div class="card card-default">
    <div class="card-header">People goes here</div>

    <div class="list-group chat-container" #chatHistory>

        <a style="border:none;" class="list-group-item list-group-item-action"  *ngFor="let message of messages">
          <span *ngIf="message != ''" class="badge badge-primary">{{message.name}}</span> {{ message.text }}
        </a>
    </div>

    <div class="card-footer">
      <div class="form-group-row">
        <input [(ngModel)]="textMessage" type="text" style="display:inline-block" class="col-10 form-control" placeholder="Type a message..."/>
        <button (click)="sendMessage()" class="col-2 btn btn-primary">Send</button>
      </div>
    </div>
  </div>

</div>
