.show-chat {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 8fr 2fr;
}

main {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */

  height: 100vh;
  /* width: 100vw; */
  /* width: 100vw; */
  /* width: 100vw; */
  /* grid-template-columns: 1fr;*/
  grid-template-rows: 11fr 1fr;
  background-color: rgb(194, 194, 194);
  row-gap: 2px;
  column-gap: 3px;
  grid-column: 1;
}

.main-frame {
  grid-row: 1;
  overflow: hidden;
}

.controls{
  width: 50%;
  justify-self: center;
  grid-row: 2;
}

.chat {
  grid-column: 2;
}